#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.timer{
  display: flex;
  flex-direction: column;
}

.time {
  font-size: 6rem;
  width: 300px;
}

.btn{
  margin-left: 20px;
}

.text-fields{
  display: flex;
  flex-direction: row;

}

input{
  height: 30px;
  margin: 12px;
  font-size: 15px;
}