#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}



.tic-tac-toe {
    height: 600px;
    width: 600px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;

}

button {
    display: inline-flex;
    height: 200px;
    width: 200px;
    font-size: 50px;
    font-weight: 600;
    cursor: pointer;
    border: 0;
    align-items: center;
    justify-content: center;
}

body {
    height: 100vh;
    width: 100vw;
    /* background-color: red; */
}

button:nth-child(1),
button:nth-child(2),
button:nth-child(3),
button:nth-child(4),
button:nth-child(5),
button:nth-child(6) {
    border-bottom: 4px solid #333;
}

button:nth-child(1),
button:nth-child(4),
button:nth-child(7),
button:nth-child(2),
button:nth-child(5),
button:nth-child(8) {
    border-right: 4px solid #333;
}



.App {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
    height: 100vh;
    width: 100%;
}

.message {
    position: absolute;
    left: 80%;
    top: 20%;
}